link(rel='stylesheet', href='/stylesheets/icon/iconfont.css')
link(rel='stylesheet', href='/stylesheets/css.css')
form(id='form',action='/admin/setting/dopicture', method='post',role='form')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') &times;               
    h4.modal-title 开启和运动项目                 
  .modal-body
    .box-body
      .form-group
        label(for='icon') 选择开启和关闭运动项目               
        .row 
          each item in items
            .col-xs-2
              dl.text-center
                dd
                  i.icon.iconfont !{item.icon}
                dt #{item.title}
  .modal-footer
    button.btn.btn-default.pull-left(type='button', data-dismiss='modal') 关闭        
    button.btn.btn-primary(type='submit') 提交
      